@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


/* variables */
:root {
    --height-nav: 8vh;
    --padding-general: 6vw;
    --albums-columns: 3;
}


/* estilo general */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    /* 100% = 16px = 1rem*/
    font-size: 100%;
}

body {
    background-color: #0e0e0e;
    color: white;
    font-family: 'Cinzel', serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

p {
    font-size: 1.5rem;
}

cite {
    width: 100%;
    font-size: 2rem;
}

.citation-div p {
    text-align: right;
    margin-top: 1.5rem;
}


/* Barra de navegación */
nav {
    padding: 10px 0px;
    position: fixed;
    background-color: #1f1f1f;
    width: 100%;
    max-height: var(--height-nav);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav li {
    padding: 0 10%;
}

nav a {
    text-decoration: none;
    color: white;
}

#logo-div {
    margin: 0px;
    padding: 0px;
    width: 4rem;
}

#logo-div img {
    width: 100%;
    height: auto;
}


/* Sección 1 */
#home {
    display: flex;
    min-height: 100vh;
    padding: var(--height-nav) var(--padding-general);
}

#home .img-div {
    height: 90vh;
}

#home img {
    height: 100%;
    width: auto;
}

#home .text-div {
    width: 100%;
    text-align: center;
    padding-top: 10%;
}

#home .title-div {
    width: 100%;
    margin: 10% 0;
}

#home .title-div p {
    font-size: 2rem;
}


/* Sección 2 */
#biografia {
    background-color: #f2f2f2;
    color: black;
    min-height: 100vh;
    padding: var(--height-nav) var(--padding-general);
}

#biografia .img-div {
    width: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content:flex-end;
}

#biografia .img-div img{
    width: 20vw;
    height: auto;
    
}


/* Sección 3 */
#discografia {
    min-height: 100vh;
    padding: var(--height-nav) var(--padding-general);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.albums-div {
    padding: 0 10%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(var(--albums-columns), auto);
    grid-auto-flow: row;
    gap: 4vmin;
    justify-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.album-div {
    width: 15vw;
    min-width: 200px;
    background-color: #1f1f1f;
    padding: 24px;
}

.disc-img-div {
    margin-bottom: 4px;
}

.disc-img-div img{
    width: 100%;
    height: auto;
}

.album-div a {
    margin-top: 4px;
    color: white;
    text-decoration: none;
}

.button-div {
    margin: 4rem;
    padding: 2rem 0;
    width: 15vw;
    height: 8rem;
    background-color: #1f1f1f;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
}

.button-div a {
    color: white;
    text-decoration: none;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f1f;
    padding: 0 var(--padding-general);
}

footer ul {
    display: flex;
    padding: 10px 0px;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 2rem;
}

footer li {
    margin: 14px;
}

footer p {
    font-size: 2rem;
}

footer a {
    color: white;
}

/* Responsive */
@media (max-aspect-ratio: 4/3) {
    #home {
        flex-direction: column;
        align-items: center;
    }

    #home .img-div {
        width: 100%;
        height: auto;
    }

    #home img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1920px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 1600px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 53.3%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 940px) {
    :root {
        --albums-columns: 2;
    }
}

@media (max-width: 854px) {
    html {
        font-size: 33%;
    }

    .button-div button {
        width: 30vw;
        height: 64px;
    }
}

@media (max-width: 640px) {
    :root {
        --albums-columns: 1;
    }
}